* {
    box-sizing: border-box;
}

html {
    min-height: 100%;   
    margin: 0px;
    padding: 0px;
 }

body {
    background: url("./images/japan.jpg");
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
    padding: 0px;
  }

  nav {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 0px 5px 5px 5px;
    margin: 0px;
    font-family: 'ABeeZee', sans-serif;
    height: 105px;

  }


h1 {
    font-family: 'Sacramento', cursive;
    color: #f70170;
    font-size: 65px;
    padding-top: 16px;
    margin: 0px;
}


h2 {
    font-family: 'Sacramento', cursive;
    color: #f70170;
    font-size: 65px;
    margin: 0px;
}

h3 {
    color: #b9da76;
    font-weight: bold;
    margin: 0px;
}

ul {
    list-style: none;
    margin: 0px;
}

.nav li:first-child {
    padding-right: 30px;
}
.nav li {
    display: inline-block;
    padding-right: 10px;
}

a, a:visited, a:active {
    color: white;
    font-size: 30px;
    text-decoration: none;
}

a:hover {
    color: #b9da76;
    font-weight: bold;
    text-decoration: none;
}

.container {
    /* border-bottom: 5px solid rgba(256, 256, 256, 0.95);
    border-top: 5px solid rgba(256, 256, 256, 0.95); */
    text-align: center;
    color: white;
    font-size: 25px;
    position: relative;
    top: 50px;
    font-family: 'ABeeZee', sans-serif;
}

.about {
    width: 100%;
    padding: 60px 20% 75px;
    margin: 50px 0px;
    background-color: rgba(0, 0, 0, 0.9);
}

.portfolio, .contact {
    width: 100%;
    padding: 60px 20% 75px;
    margin: 100px 0px;
    background-color: rgba(0, 0, 0, 0.9);
}

p {
    padding: 15px;
    margin: 0px;
}

p:last-child {
    padding-bottom: 30px;
}

.b {
    font-weight: bold;
}